.productDetailPage{
    padding: 60px 100px;
}

.productContent{
    background-color: white;
    padding: 1rem;
    display: flex;
}

.boxSpace{
    display: flex;
    align-items: center;
}

.productImg{
    height: 500px;
    width: 500px;
}

.ratingIcon{
    width: 100px;
    height: 20px;
}

.productPriceBox{
    background-color: #F5F5F5;
    width: 100%;
}

.productDiscount{
    background-color: #ffa042;
    color: white;
}

.productQuantity{
    width: 60px;
}

.addToCart{
    padding: 10px;
    height: auto;
    width: 160px;
    font-size: 20px;
    border: 2px solid #ffa042;
    background-color: #FFE4CA;
    border-radius: 0.25rem;
    font-weight: bold;
    color: #ffa042;
    margin-right: 1.5rem;
}

.addToCartIcon{
    width: 20px;
    height: auto;
    margin: 5px;
    fill: #ffa042;
}

.buyNow{
    padding: 10px;
    height: auto;
    width: 160px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    background-color: #ffa042;
    color: white;
    border-radius: 0.25rem;
    border: 2px solid #ffa042;
}

.productInformationTitle{
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.productInformation{
    padding:1rem;
}

.productCommentContainer{
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
}

.commentUserImg{
    height: 50px;
    width: 50px;
}

.commentRating{
    height: 20px;
    width: 100px;
}


.checkIcon{
    height: 30px;
    width: 30px;
}

.showMessage{
    opacity: 0;
    transition: opacity 0.5s ease;
}

.showMessage.show{
    opacity: 1;
}

@media screen and (max-width:767px){
    .productDetailPage{
        padding: 0px;
    }


    .productImg{
        height: 50%;
        width: auto;
    }



    .commentUserImg{
        height: 30px;
        width: 30px;
    }

    .commentRating{
        height: 10px;
        width: 60px;
    }
    
    .addToCartIcon{
        width: 20px;
        height: auto;
        margin: 5px;
        fill: white;
    }

    .modalBottom {
        position: fixed !important;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        transform: none !important; /* 不要 translateX */
      }

    .modalAddBtn{
        background-color: var(--main-color);
    }
    
}