.loginContainer{
    padding:3rem;
}

.logoIcon{
    height: 230px;
    width: 250px;
}

.registerLink{
    color: #ffa042;
}

.registerLink:hover{
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width:767px) {

    .loginContainer{
        padding: 2rem;
    }

    .logoIcon{
        height: 150px;
        width: 150px;
    }
}