.homePage {
  padding: 60px 100px;
}

/* .productGrid {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  row-gap: 40px;
  column-gap: 16px;
} */


.productBox:hover {
  transform: scale(1.1);
}

.productImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.productDiscount {
  background-color: #ffa042;
  font-size: 14px;
  color: white;
  align-items: center;
  text-align: center;
}

.productName {
  white-space: keep-all;
  white-space: normal; /* 允許換行，但不會亂斷 */
  display: -webkit-box;
  -webkit-box-orient: vertical; /*垂直顯示*/
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  min-height: 2.8rem;
}

.productStarBox {
  background-color: #fffdd0;
}

.starIcon {
  height: 16px;
  width: 16px;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .homePage {
    padding: 40px 80px;
  }

  .productBox:hover {
    transform: none;
  }

}

@media screen and (max-width: 767px) {
  .homePage {
    padding: 10px;
  }

  .productBox:hover {
    transform:none;
  }

  .productName{
    font-size: 14px;
  }

  .productImg {
    width: 100%;
    max-height: 160px;
    height: auto;
    object-fit: fill;
  }


}
